body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('image1.png');
    background-size: cover;
}

.container {
    position: relative;
    top: 50px;
    width: 40%;
    max-width: 900px;
    margin: 20px auto;
    background: transparent;
    padding: 20px;
    border: 3px solid rgb(244, 239, 239);
    border-radius: 10px;
    box-shadow: 5px 15px 10px #007BFF;
}

h1, h2 {
    text-align: center;
    color: #007BFF;
}

section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 10px 0;
}

textarea {
    width: 100%;
    padding: 5px;
    resize: vertical;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="file"], input[type="number"], input[type="password"], input[type="range"] {
    margin-left: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    color: white;
}
label{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
